.txt_user {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
}

.txt_password {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
}